<!DOCTYPE html>
<html lang="en">

<head>

  {{!-- head --}}
  {{> head}}
  {{!-- headn end --}}
  
</head>

<body>


  {{!-- nav bar --}}
  {{> nav}}
  {{!-- nav bar end --}}


  {{!-- body here --}}
  {{{body}}}
  {{!-- body end --}}


  {{!-- footer --}}
  {{> footer}}
  {{!-- footer end --}}


  {{!-- scripts --}}
  {{> scripts}}
  {{!-- scripts end --}}


</body>

</html>